html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: Roboto, serif;
    
}

div,section{
    padding-left: 100px;
    padding-right: 100px;
}

.header, #div1,footer{
    background-color: #1f2937;
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px
}

nav>ul>li{
    list-style: none;
    display: inline;
}

nav>ul>li>a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

#div1{
    text-align: center;
    padding: 20px;
    display: flex;
}

.div2{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.div2>h1{
    font-size: 48px;
    color: f9faf8;
    font-weight: 800;
}

button{
    font-family: inherit;
    background-color: #3b82f6;
    color: white;
    border: none;
    width: 100px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

.placeholder-img{
    background: grey;
    display:inline;
    width: 400px;
    height: 200px;
    border-radius: 10px;
}

#welcomeImg{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.info-title{
    font-size: 36px;
    font-weight: 900;
    color:#1f2937;
    text-align: center;
}

.info-flex{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 20px 0;
    flex-wrap: wrap;
}

.info-image-placeholder{
    background: grey;
    width: 50px;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#quote-section{
    background-color: #e5e7eb;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.quote{
    font-size: 36px;
    font-style: italic;
    text-align: center;
    color: #1f2937;
    margin: 20px 0;
    font-weight: 300;

}

.author{
    font-size: 24px;
    text-align: right;
    font-style: italic;
    margin-right: 20px;
    font-weight: bold;
}

#sign-up{
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
}

#sign-up>div{
    border-radius: 5px;
    height: 100px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #3b82f6;
    text-align: center;
    padding: 50px 20px;
}

#sign-up>div>button{
    border: 2px solid white;
    flex:0 0 auto;
}

footer{
    text-align: center;
    padding: 1px;
}